/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-align: center;
}

body{
    overflow: hidden; /* prevent scrolling */
}

/* Navbar */
.navbar{
    position: relative; /* relative to allow absolute positioning of buttons */
    display: flex;
    height: 12rem;
    justify-content: space-between; /* logo left, butons right */
    align-items: flex-start; /* align items to the top */
    z-index: 10; /* ensure navbar is above other content */
}

/* Home Page Navbar BG */
.navbar-home .navbg{
    position: absolute;
    top: 0;
    background-color: #000043;
    z-index: -1; /* background behind navbar contents */
    border-bottom: #DBC98C solid 4px;
    height: 100%;
}
.navbar-home #navbg-left{
    left: 0;
    width: calc(100% - 30rem); /* full width minus the width of the buttons */
}
.navbar-home #navbg-top{
    right: 22rem;
    width: 8rem; /* width of the buttons */
    height: calc(100% - 2.6rem); /* full height minus the height of the buttons */
}
.navbar-home #navbg-right{
    right: 0;
    width: 22rem; /* width of the buttons */
}



/* Logo */
.logo a img{
    height: 8rem;
    width: auto;
}
.logo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2rem;
}

/* Buttons */
.button{
    width: 8rem;
    font-size: 1.5rem;
    background-color: #beae79;
    padding: 0.3rem 0;
    border: #DBC98C solid 4px;
}
.button:hover{
    background-color: #DBC98C;
}

.main-buttons{
    position: absolute;
    bottom: 0;
    right: 2rem;
    display: flex;
    gap: 2rem;
}

.utility-buttons{
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    gap: 2rem;
}

.utility-buttons a{
    border-radius: 10px;
}

.current-page-button{
    border-bottom: none;
    background-color: rgba(131, 120, 84, 0.5);
}



/* Background */
.bg{
    position: fixed;
    bottom: 5rem;
    z-index: -1; /* background behind everything */
}

.bg img{ 
    width: 100vw;
    max-width: 100%;
}



/* Footer */
footer{
    position: fixed;
    background-color: #000043;
    padding: 1rem;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    border-top: #DBC98C solid 4px;
    width: 100vw;
    bottom: 0;
}

/* smaller logo */
footer .logo a img{
    height: 6rem;
}

/* 2x2 grid */
.footer-grid{
    display: grid;
    grid-template-columns: 2.5rem 2.5rem;
    grid-template-rows: 2.5rem 2.5rem;
    gap: 1rem;
}

.grid-icon{
    filter: invert(1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-icon img{
    width: 2.5rem;
    height: 2.5rem;
}



/* Container for the Dropdown Section */
.dropdown-bar{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
    z-index: 5; /* ensure dropdown is above other content */
}

/* Dropdown Wrapper */
.dropdown{
    position: relative; /* relative to allow absolute positioning of dropdown content */
    display: flex;
}

/* Dropdown Buttons */
.dropdown-button{
    background-color: #beae79;
    border: none;
}

/* Dropdown Content (Initially Hidden) */
.dropdown-content{
    display: none; /* hidden by default */
    position: absolute; /* absolute positioning to appear below the button */
    top: 100%;
    left: -1rem;
    background-color: #beae79;
    border: 2px solid #DBC98C;
    width: 10rem; /* minimum width for dropdown */
    flex-direction: column; /* stack items vertically */
    z-index: 10; /* ensure dropdown is above other content */
}

.dropdown-content a {
    padding: 0.6rem 0;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1rem;
}

.dropdown-content a:hover {
    background-color: #DBC98C;
    color: #000043;
}

.dropdown:hover .dropdown-content {
    display: flex;
}



/* News/Events Boxes */
.main-home{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 4vw;
    position: fixed;
    width: 100vw;
    bottom: 9rem;
}

.box-home{
    overflow: hidden;
    font-weight: 600;
    font-size: 2.5vw;
}

.box-home a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #beae79;
    padding: 1rem;
    width: 15vw;
    height: 8vw;
    border-radius: 1rem;
}
.box-home a:hover{
    background-color: #DBC98C;
}